easyocr==1.7.1
Flask==3.0.3
openai==1.50.2
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
python-dotenv==1.0.1
segment_anything==1.0
torch==2.2.2
torchvision==0.17.2
ultralytics==8.2.100
numpy==1.26.4
streamlit==1.38.0