easyocr==1.7.1
Flask==3.0.3
numpy==2.1.1
openai==1.50.2
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==10.4.0
python-dotenv==1.0.1
segment_anything==1.0
torch==2.2.2
torchvision==0.17.2
ultralytics==8.2.100
